[Desktop Entry]
Version=1.0
Name=FreeMind
GenericName=Web Browser
Comment=Browse the Web
Exec=/opt/freemind/freemind.sh
Icon=/opt/freemind/freemind-logo.png
Terminal=false
Type=Application

X-Desktop-File-Install-Version=0.23
